<template name="layout">
{{#if currentUser}}
<header>

    {{> header}}
{{#if findID}}{{> sideNav}}{{/if}}
</header> 


<main>
    
    <!-- Modal Triggers -->
    {{#if findID}}
    <div class="row">
    <div class="col s11">
    <div class="row chart z-depth-3">
			<div class='timeline col s12' style="display:none" id='chart'>
			</div>
	</div>
		<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
		    <a class="btn-floating btn-large indigo darken-4 waves-circle waves-effect waves-light  modal-trigger modal-close" href="#modal1"><i class='fa fa-filter'></i>
			</a>
  	
		</div>
		<div class="fixed-action-btn" style="bottom: 120px; right: 24px;">
		    <a class="btn-floating btn-large blue waves-circle modal-trigger modal-close"  href="#modalAPI"><i class="fa fa-send"></i> </a>
  	
		</div>
		<div class="fixed-action-btn" style="bottom: 195px; right: 24px;">
		    <a class="btn-floating btn-large brown waves-circle" id='graph'><i class="fa fa-bar-chart"></i> </a>
  	
		</div>
		<!-- ARCHVE/DELETE Button --> 
		<!-- <div class="fixed-action-btn" style="bottom: 270px; right: 24px;">
		    <a class="btn-floating btn-large red waves-circle modal-trigger modal-close"  href="#modal3"><i class="fa fa-trash"></i> </a>
  	
		</div> -->
		</div>
		</div>
	{{/if}}	
<!--    not quite yet {{> fixedButtons}}
 -->	   
 			<div class='row'>
 			<div class='col s12'>
            	{{> yield}}
            </div>
            </div>
            

 <img src='/indy_small.png' style="position:fixed; opacity:.5; z-index:-1;bottom: 0px; left: 280px;">
</main>
{{else}}
<header>
{{> header}}
</header>
	  {{> signin}} 
	  <img src='/indy_small.png' style="position:fixed; opacity:.5; z-index:-1;bottom: 0px; left: 280px;">
{{/if}}
{{#if findID}}

<div id="modalAPI" class="modal">
	<div class="modal-content">
		<div class="row">
			<div class='col s12' >
			<h3>Third Party Analysis <span class="thin" style="font-size:0.5em"> {{countChecked}} selected</span></h3>
			
  			<p></p>
  			<div class="col s12">
  			<div class="panel panel-default"> 
			<div class="panel-heading" role="tab" id="heading1">
	 			<div class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">Items to Send</a>
				</div>
			</div>
			<div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
				<div class="panel-body">
					<ul class="collection with-header">
			{{#each thirdParty}}
			{{#if url}}
				<li class="collection-item"><div>{{osxcollector_subsection}}, URL=>{{url}} </div></li>
			{{/if}}
			{{#if md5}}
				<li class="collection-item"><div>{{osxcollector_subsection}}, MD5=>{{md5}} </div></li>
			{{/if}}
			{{#if referrer}}
				<li class="collection-item"><div>{{osxcollector_subsection}}, REFERRER=>{{referrer}}</div></li>
			{{/if}}
			{{#if signon_realm}}
				<li class="collection-item"><div>{{osxcollector_subsection}}, SIGNON_REALM=>{{signon_realm}}</div></li>

			{{/if}}	
			{{#if origin}}
				<li class="collection-item"><div>{{osxcollector_subsection}}, ORIGIN=>{{origin}}</div></li>

			{{/if}}	
			{{#if host_key}}
				<li class="collection-item"><div>{{osxcollector_subsection}}, host_key=>{{host_key}}</div></li>

			{{/if}}	 
			{{#if LSQuarantineDataURLString}}
				<li class="collection-item"><div>{{osxcollector_subsection}}, URL=>{{LSQuarantineDataURLString}} </div></li>
			{{/if}}
			{{#if md5}}
				<li class="collection-item"><div>{{osxcollector_subsection}}, MD5=>{{md5}} </div></li>
			{{/if}}
			{{#if DownloadEntryURL}}
				<li class="collection-item"><div>{{osxcollector_subsection}}, URL=>{{DownloadEntryURL}} </div></li>
			{{/if}}
			{{#if redirectURLs}}
				<li class="collection-item"><div>{{osxcollector_subsection}}, URL=>{{redirectURLs}} </div></li>
			{{/if}}
			{{#if origin}}
				<li class="collection-item"><div>{{osxcollector_subsection}}, URL=>{{origin}}</div></li>
			{{/if}}
			{{#if ''}}
				<li class="collection-item"><div>{{osxcollector_subsection}}, URL=>{{thirdParty}}</div></li>
			{{/if}}	
        	{{/each}}
			</ul>
				</div>
			</div>
		</div>
		</div>
			</div>	
				 
		</div>
		<div class="modal-footer">
		<div class="col s12 right-align">
							<a class="waves-effect waves-light btn xforce"><i class="fa fa-send"></i> X-Force</a>
							<a class="waves-effect waves-light btn virustotal"><i class="fa fa-send"></i> Virus Total</a>
<!-- 							<a class="waves-effect waves-light btn "><i class="fa fa-send"></i> OpenDNS</a>
 -->							<a class="waves-effect waves-light btn shadow"><i class="fa fa-send"></i> Shadow Server</a>
							<a class="waves-effect waves-light btn blacklist"><i class="fa fa-send"></i> Blacklist</a>
							<a class="waves-effect waves-light btn metascan"><i class="fa fa-send"></i> Metascan</a>
  			</div>    	</div>
	</div>
</div>




<div id="modal3" class="modal">
	<div class="modal-content">
		<div class="row">
			<div class='col s12' >
			<h3>Archive<span class="thin" style="font-size:0.5em"> {{countChecked}} selected</span></h3>
			
			<div class="panel panel-default"> 
			<div class="panel-heading" role="tab" id="heading2">
	 			<div class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">Items to Archive</a>
				</div>
			</div>
			<div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
				<div class="panel-body">
					<ul class="collection with-header">
			{{#each thirdParty}}
			<li class="collection-item"><div>{{_id._str}} </div></li>
					 
        	{{/each}}
			</ul>
				</div>
			</div>
		</div>

			</div>	
				 
		</div>
		<div class="modal-footer">
			<a class="waves-effect waves-red btn-large"><i class="fa fa-trash"></i> Archive</a>
    	</div>
	</div>
</div>


<div id="modal1" class="modal modal-filters">
	<div class="modal-content">
		<div class="row">
			<div class='col s12' >

			<h3> Subsections<!-- NEED a session variable to hold this data since I moved it to the layout template <span class="thin" style="font-size:0.5em"> {{getPublishedCount 'chrome-counter'}} returned</span> --></h3>
			{{#each subsections}}
				<div class="col s4 right-align">
					<div class="switch">
						<label class="label label-{{name}}" >{{name}}</label>
						<label>
						{{#if checkName name}}
							<input class="switch" type="checkbox" name="{{name}}">
						{{else}}
							<input class="switch" type="checkbox" checked name="{{name}}">
						{{/if}}
							<span class="lever"></span>
						</label>
					</div>
				</div>
			{{/each}}

			 <!--  next release :( <input type="date" class="datepicker" id="begDate">
			  <input type="date" class="datepicker" id="endDate">
 -->
			</div>	 
		</div>
	</div>
</div>


<div id="thirdPartyModal" class="modal">
	<div class="modal-content">
		<div class="row">
			<div class='col s12' >
			{{#if found}}
				{{#if whichToShow 'metascan'}}
						<h3 >{{score}}<span class="thin" style="font-size:0.5em"> Metascan</span></h3>
						<ul class="collection">
							{{#if data.md5}}<li class="collection-item"><div><span class="label label-default text-uppercase">MD5</span><span> {{data.md5}}</span></div></li>{{/if}}
							{{#if data.upload_timestamp}}<li class="collection-item"><div><span class="label label-default text-uppercase">First Uploaded</span><span> {{data.upload_timestamp}}</span></div></li>{{/if}}
							{{#if data.file_type_description}}<li class="collection-item"><div><span class="label label-default text-uppercase">Filetype</span><span> {{data.file_type_description}}</span></div></li>{{/if}}
							{{#if data.file_type_extension}}<li class="collection-item"><div><span class="label label-default text-uppercase">File Ext</span><span> {{data.file_type_extension}}</span></div></li>{{/if}}
							{{#if data.file_size}}<li class="collection-item"><div><span class="label label-default text-uppercase">File Size</span><span> {{data.file_size}} KB</span></div></li>{{/if}}
						</ul>
						<div class="panel panel-default"> 
					<div class="panel-heading" role="tab" id="heading2">
			 			<div class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseDetails" aria-expanded="true" aria-controls="collapseDetails">Scanner Details</a>
						</div>
					</div>
					<div id="collapseDetails" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
						<div class="panel-body">
							<table class="centered striped">
								<thead>
									<tr>
										<th data-field='scanner'> Scanner</th>
										<th data-field='threat_found'>Threat Found</th>
										<th data-field='def_time'>Last Updated</th>

									</tr>
								</thead>	
								<tbody>

					{{#each details}}
					<tr>
						<td>{{this.scanner}}</td>
						<td>{{#if this.scan_result_i}}{{this.threat_found}} {{else}}<i class="fa fa-check" style="color:#66bb6a"></i>{{/if}}</td>
						<td>{{this.def_time}}</td>
					</tr>
		        	{{/each}}
		        				</tbody>
							</table>
					
						</div>
					</div>
				</div>
			{{/if}}
			{{#if whichToShow 'virustotal'}}
						<h3 >{{score}}<span class="thin" style="font-size:0.5em"> VirusTotal</span></h3>
						<ul class="collection">
							<li class="collection-item"><div><span class="label label-default text-uppercase">MD5</span><span> {{data.md5}}</span></div></li>
							<li class="collection-item"><div><span class="label label-default text-uppercase">Scan Date</span><span> {{data.scan_date}}</span></div></li>
							<li class="collection-item"><div><span class="label label-default text-uppercase">Link to VirusTotal</span><span><a href='{{data.link}}' target='_blank' > {{shorten data.link}}</a></span></div></li>
						</ul>
						<div class="panel panel-default"> 
					<div class="panel-heading" role="tab" id="heading2">
			 			<div class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseDetails" aria-expanded="true" aria-controls="collapseDetails">Scanner Details</a>
						</div>
					</div>
					<div id="collapseDetails" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
						<div class="panel-body">
							<table class="centered striped">
								<thead>
									<tr>
										<th data-field='scanner'> Scanner</th>
										<th data-field='threat_found'>Threat Found</th>
										<th data-field='def_time'>Last Updated</th>

									</tr>
								</thead>	
								<tbody>

					{{#each details}}
					<tr>
						<td>{{this.scanner}}</td>
						<td>{{#if this.detected}}{{this.result}} {{else}}<i class="fa fa-check" style="color:#66bb6a"></i>{{/if}}</td>
						<td>{{this.update}}</td>
					</tr>
		        	{{/each}}
		        				</tbody>
							</table>
					
						</div>
					</div>
				</div>
			{{/if}}
			{{#if whichToShow 'xforceMD5'}}
						<h3 >{{score}}/100<span class="thin" style="font-size:0.5em"> IBM X-Force Threat Exchange</span></h3>
						<ul class="collection">
							<li class="collection-item"><div><span class="label label-default text-uppercase">MD5</span><span> {{data.md5}}</span></div></li>
							<li class="collection-item"><div><span class="label label-default text-uppercase">Family</span><span>{{data.family}}</span></div></li>
							<li class="collection-item"><div><span class="label label-default text-uppercase">Risk</span><span><a href='{{data.link}}' target='_blank' > {{data.risk}}</a></span></div></li>
						</ul>
			{{/if}}
			{{#if whichToShow 'xforceUrl'}}
						<h3 >{{score}}/9<span class="thin" style="font-size:0.5em"> IBM X-Force Threat Exchange</span></h3>
						<ul class="collection">
							<li class="collection-item"><div><span class="label label-default text-uppercase">URL</span><span> {{data.url}}</span></div></li>
						</ul>

						<div class="panel panel-default"> 

        					<div class="panel-heading" role="tab" id="heading5">
			 			<div class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseCATS" aria-expanded="true" aria-controls="collapseCATS">Categories</a>
						</div>
					</div>
					<div id="collapseCATS" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
						<div class="panel-body">
        					<ul class="collection">							        

        					{{#each iterXforceURL details.categoryDescriptions}}
        						<li class="collection-item"><div><span class="label label-default text-uppercase">{{key}}</span><span> {{value}}</span></div></li>
        					{{/each}}
        					{{#each iterXforceURL details.cats}}
        						<li class="collection-item"><div><span class="label label-default text-uppercase">{{key}}</span><span> {{value}}</span></div></li>
        					{{/each}}
        					</ul>
        				</div>
        			</div>
				</div>	

<!--APPLICATION SECTION -->

{{#if details.application}}		

			<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="heading2">
			 			<div class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseDetails" aria-expanded="true" aria-controls="collapseDetails">Application</a>
						</div>
					</div>
					<div id="collapseDetails" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
						<div class="panel-body">
						<ul class="collection">

							<!-- {{#each iterXforceURL details.application}}
									 <li class="collection-item"><div><span class="label label-default text-uppercase">{{key}}</span><span>  {{value}}</span></div></li>
        					{{/each}} -->
        					<li class="collection-item"><div><span class="label label-default text-uppercase">Canonical Name</span><span> {{details.application.canonicalName}}</span></div></li>
							<li class="collection-item"><div><span class="label label-default text-uppercase">Name</span><span> {{details.application.name}}</span></div></li>
							<li class="collection-item"><div><span class="label label-default text-uppercase">Base URL</span><span> {{details.application.baseurl}}</span></div></li>
							<li class="collection-item"><div><span class="label label-default text-uppercase">Desciption</span><span> {{details.application.description}}</span></div></li>

							{{#each iterXforceURL details.application.actionDescriptions}}
									 <li class="collection-item"><div><span class="label label-default text-uppercase">{{key}}</span><span>  {{value}}</span></div></li>
        					{{/each}}
        					{{#each iterXforceURL details.application.actions}}
									 <li class="collection-item"><div><span class="label label-default text-uppercase">{{key}}</span><span>  {{value}}</span></div></li>
        					{{/each}}    	
        					{{#each iterXforceURL details.application.categories}}
									 <li class="collection-item"><div><span class="label label-default text-uppercase">{{key}}</span><span>  {{value}}</span></div></li>
        					{{/each}} 
        					{{#each iterXforceURL details.application.categoryDescriptions}}
									 <li class="collection-item"><div><span class="label label-default text-uppercase">{{key}}</span><span>  {{value}}</span></div></li>
        					{{/each}} 
						</ul>

						</div>
					</div>
				</div>

				<!--RISK FACTORS SECTION -->
												<div class="panel panel-default"> 

        					<div class="panel-heading" role="tab" id="heading3">
			 			<div class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseiskFactors" aria-expanded="true" aria-controls="collapseiskFactors">RiskFactors</a>
						</div>
					</div>
					<div id="collapseiskFactors" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
						<div class="panel-body">
        					<ul class="collection">							        

        					{{#each iterXforceURL details.application.riskfactors}}
        						<li class="collection-item"><h5><span class="label label-riskfactors text-uppercase">{{key}}</span></h5></li>
        						<li class="collection-item"> 
        						{{#each iterXforceURL value}}
									<div><span class="label label-default text-uppercase">{{key}}</span><span>  {{value}}</span></div><p></p>
								{{/each}}
								</li>
        					{{/each}}
        					</ul>
        				</div>
        			</div>
				</div>
<!--URLS SECTION -->
					<div class="panel panel-default"> 

        					<div class="panel-heading" role="tab" id="heading4">
			 			<div class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseURLS" aria-expanded="true" aria-controls="collapseURLS">Urls</a>
						</div>
					</div>
					<div id="collapseURLS" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
						<div class="panel-body">
        					<ul class="collection">							        
        					{{#each iterXforceURL details.application.urls}}
									 <li class="collection-item"><div><span class="label label-default text-uppercase"></span><span>  {{value}}</span></div></li>
        					{{/each}}
        					</ul>
        				</div>
        			</div>
				</div>
{{/if}}			
						<!-- 	<li class="collection-item"><div><span class="label label-default text-uppercase">Family</span><span><a href='{{data.link}}' target='_blank' > {{data.family}}</a></span></div></li>
							<li class="collection-item"><div><span class="label label-default text-uppercase">Risk</span><span><a href='{{data.link}}' target='_blank' > {{data.risk}}</a></span></div></li> -->
							

						
			{{/if}}
			{{#if whichToShow 'shadow'}}
						<h3 >{{score}}<span class="thin" style="font-size:0.5em">Shadow Server</span></h3>
						<ul class="collection">
							
							<li class="collection-item"><div><span class="label label-default text-uppercase">Link</span><span><a href='{{data.link}}' target='_blank' > {{shorten data.link}}</a></span></div></li>
							{{#each iterShadow}}
									 <li class="collection-item"><div><span class="label label-default text-uppercase">{{key}}</span><span>  {{value}}</span></div></li>
        					{{/each}}
						</ul>
			{{/if}}
			{{#if whichToShow 'blacklist'}}
						<h3 >{{score}}<span class="thin" style="font-size:0.5em">BlackListed Domains</span></h3>
						<ul class="collection">
							
							<li class="collection-item"><div><span class="label label-default text-uppercase">Black Listed Domain</span><span> {{data.url}}</span></div></li>
							<li class="collection-item"><div><span class="label label-default text-uppercase">Black List Source</span><span> {{data.source}}</span></div></li>
						</ul>
			{{/if}}
			{{else}}
				<h3>{{data.md5}}<span class="thin" style="font-size:0.5em"> Not Found</span></h3>
			{{/if}}	
				
			</div>	
				 
		</div>
		<div class="modal-footer">
			<a class="waves-effect waves-red btn-large close">Close</a>
    	</div>
	</div>
</div>


{{/if}}
</template>