<template name='projectsList'>
{{#if currentUser}}
{{waitOn}}
<div class='row'>
	<div class="col s8 offset-s1">
	<h2> OSX Collector Collections</h2>
	<ul class="collection z-depth-3">
	{{#each projectName}}
	        <li class='collection-item'> <a href="/project/{{projectID}}" class="listed-project">{{projectID}}</a> 
	        <span  class="label label-danger right secondary-content" style="margin-left:5px">
	        <i id="{{projectID}}" class="fa fa-trash"></i>
	        </span>
	        <span class="label label-danger right secondary-content">{{commas (flaggedCount projectID)}} <i class="fa fa-flag"></i>
	        </span>
	        
	        </li>
	{{/each}}      
	</ul>
	</div>
	<div class="col s8 offset-s1">
	<h2> Strata Stats</h2>

	<ul class="collection z-depth-3">
	{{#each counts}}
	        <li class="collection-item listed-project">{{label}}<span class="label label-success">{{commas count}} <i class="fa {{icon}}"></i></span></li>
	{{/each}}   
	</ul>
	</div>
</div>
{{else}}
{{> signin}}
{{/if}}

<div id="modalDeleteCollection" class="modal">
  <div class="modal-content">
  
    <h2 class='center-align'>Are you sure you want to delete {{project}}?</h2>
  

 <form class="s12">
 <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn" id='deleteTheProject'>Delete</a>
      <a class="modal-action modal-close waves-effect waves-red btn" id="cancelChange">Cancel</a>

</div>
</form>
 </div>
</div>
</template>