<template name='sectionFirefox'>
{{#if currentUser}}
{{waitOn}}
<div class='row'>
	
	<div class='col s11'>
		
				
			
		
		<div class="row">
			<!-- <div class="col s12">
				<h3>Results</h3>
			</div> -->
			<div class='col s12'>
					<div class="col s2">
						  <input type="checkbox" id="check-all" />
      						<label for="check-all" class="bold">{{countChecked}} selected</label>
   					

					</div>
					
				<div class="col s5 offset-s5">
					<div class='col s12'>
					<div class='col s1 offset-s4 all-the-way'>
						<a href="#">
							<i class='fa fa-step-backward'></i>
						</a>
					</div>
					<div class='col s1 previous'>
						<a href="#">
							<i class='fa  fa-backward '></i>
						</a>
					</div>
					<div class='col s4 center-text'>
							{{curText}} of {{getPublishedCount 'firefox-counter'}}
					</div>
					<div class='col s1 next {{#if showNext}}show{{else}}invisible{{/if}}'>
						<a href="#">
							<i class='fa  fa-forward '></i>
						</a>
					</div>
					<div class='col s1 to-the-end {{#if showNext}}show{{else}}invisible{{/if}}'>
						<a href="#">
							<i class='fa  fa-step-forward'></i>
						</a>
					</div>

					</div>
				</div>
			</div>
			<div class="col s2  offset-s10 center-align">
						<select class="browser-default" id="amount-to-show">
					      <option value="" disabled selected>Results per Page</option>
							<option>25</option>
							<option>50</option>
							<option>75</option>
							<option>100</option>
							<option>500</option>
						</select>

			</div>
		</div>
		{{#each firefox}}
		<div class="panel panel-default"> <!--{{checkResults shadow_results}}">-->
			<div class="panel-heading z-depth-3" role="tab" id="heading{{_id._str}}">
	 			<div class="panel-title">
					<input class="coll" type="checkbox" id="{{_id._str}}" />
					<label for="{{_id._str}}" style="top:5px"></label>
					<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{_id._str}}" aria-expanded="true" aria-controls="collapse{{_id._str}}">
					<!-- for now we will just display the id-->
					{{#if name}}{{name}}{{else}}
						{{#if basedomain}}{{basedomain}}{{else}}
									{{_id._str}}
						{{/if}}
					{{/if}}
							
					<span class="label label-{{osxcollector_subsection}}">{{osxcollector_subsection}}</span>
					<span class="label label-{{osxcollector_table_name}}">{{osxcollector_table_name}}</span> 
			 		<i class="fa fa-firefox " style="color:{{scoreCheck black_list vt_results ibm_domain_results}}" ></i>
					</a>
					<i class="fa fa-{{#if flagged}}flag{{else}}flag-o{{/if}}" style="float:right;margin-right:10px;"></i>
					{{#if shadow_results}}
					<label class="label third-party-results {{checkResultsLabelsShadow shadow_results}} share" id='{{_id._str}}_shadow'  style="float:right;margin-right:10px;">{{shadow_results}} Shadow Server</label>
					{{/if}}
					{{#if ibm_domain_results}}
					<label class="label third-party-results {{checkResultsLabelsIBM ibm_domain_results}} " id='{{_id._str}}_xforceUrl' style="float:right;margin-right:10px;">{{ibm_domain_results}} X-Force Domain</label>
					{{/if}}
					{{#if vt_results}}
	         		<label class="label third-party-results {{checkResultsLabelsIBM vt_results}} " id='{{_id._str}}_virustotal'  style="float:right;margin-right:10px;"> {{vt_results}} Virus Total</label>
	         		{{/if}}
  		    	    {{#if ibm_md5_results}}
  		    	    <label class="label third-party-results {{checkResultsLabelsIBM ibm_md5_results}} " id='{{_id._str}}_xforceMD5' style="float:right;margin-right:10px;">{{ibm_md5_results}} X-Force MD5 </label>
  		    	    {{/if}}
  		    	    {{#if black_list}}
  		    	    <label class="label third-party-results {{checkResultsLabels black_list}} " id='{{_id._str}}_blacklist' style="float:right;margin-right:10px;">{{black_list}} Blacklist</label>
  		    	    {{/if}}
  		    	    {{#if mt_results}}
	         		<label class="label third-party-results {{checkResultsLabelsIBM mt_results}} " id='{{_id._str}}_metascan' style="float:right;margin-right:10px;">{{mt_results}} MetaScan </label>
	         		{{/if}}
				</div>
			</div>
			<div id="collapse{{_id._str}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{_id._str}}">
				<div class="panel-body z-depth-3">
					<ul class="collection with-header">
		{{#each iter}}
					 <li class="collection-item"><div><span class="label label-default text-uppercase">{{key}}</span><span>  {{value}}</span></div></li>
        {{/each}}
<!-- 		{{> firefoxDisplay}}
 -->			</ul>
				</div>
			</div>
		</div>
 		{{/each}}
		<div class="row">
			<div class='col s12'>
					<div class="col s2">
						<span class="thin"> {{countChecked}} selected</span>

					</div>
					
				<div class="col s5 offset-s5">
					<div class='col s12'>
					<div class='col s1 offset-s4 all-the-way'>
						<a href="#">
							<i class='fa fa-step-backward'></i>
						</a>
					</div>
					<div class='col s1 previous'>
						<a href="#">
							<i class='fa  fa-backward '></i>
						</a>
					</div>
					<div class='col s4 center-text'>
							{{curText}} of {{getPublishedCount 'firefox-counter'}}
					</div>
					<div class='col s1 next {{#if showNext}}show{{else}}invisible{{/if}}'>
						<a href="#">
							<i class='fa  fa-forward '></i>
						</a>
					</div>
					<div class='col s1 to-the-end {{#if showNext}}show{{else}}invisible{{/if}}'>
						<a href="#">
							<i class='fa  fa-step-forward'></i>
						</a>
					</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{/if}}
</template>
