<template name='signin'>
<div class="row ">
	<div class='col s4 offset-s4'>
		<h2 class="center-align">Login</h2>
		    <form>
		        <div class="input-field col s12">
		          <input id="username" type="text" class="validate" name="username">
		          <label for="username">Email</label>
		        </div>
		        <div class="input-field col s12">
		        	<input placeholder="" type="password" class="validate" name="acountPassword">
		        	<label for="password" active>Password</label>
		        </div>
		       
		        <button class="btn waves-effect waves-light right" type="submit" name="action">Login
		    		<i class="fa fa-user right"></i>
		 		</button>
		    </form>
	</div>
</div>
</template>